@{
     ViewData["Title"] = "Home Page";
     ViewBag.TitoloPagina = "Elemento Dirigente inserito con Put correttamente";
    
}

@model MvcMovie.Models.EsitoPerazionePut

<h1>@Model.Esito Insert tramite Put</h1>

